/* 1. buka limit utama */
.md-grid {
    max-width: 100% !important;
}

/* 2. hilangkan padding container konten */
.md-main__inner {
    margin: 0 !important;
}

.md-content__inner {
    font-size: 0.85rem;
    padding: 0 25px !important;
    margin-bottom: 150px;
}

/* 6. sembunyikan footer */
.md-footer {
    display: none;
}

/* kode inline di tabel tetap cyan */
.md-typeset__table code {
    color: #6791e0 !important;
    font-size: 0.65rem;
}

.md-typeset__table {
    min-width: 100%;
    margin-bottom: 50px;
}

.md-typeset table:not([class]) {
    display: table;
}

.md-typeset table:not([class]) th {
    font-size: 0.75rem;
    background-color: #272a35;
    color: lightgray;
}

.md-typeset table:not([class]) td {
    font-size: 0.75rem;
}

.md-typeset table:not([class]) td:hover {
    background-color: transparent !important;
}

.md-typeset ul,
.md-typeset ol {
    line-height: 1.7;
    margin-bottom: 50px;
}

.md-typeset ul li::marker,
.md-typeset ol li::marker {
    color: #6791e0;
}

/* animasi highlight saat anchor dituju */
:target {
    animation: fadeHighlight 2s ease-out;
}

@keyframes fadeHighlight {
    0% {
        background-color: rgba(39, 99, 245, 0.2);
    }
    100% {
        background-color: transparent;
    }
}

/* ===== SIDEBAR BASE ===== */
.md-nav {
    font-size: 0.7rem;
    line-height: 1.6;
}

.md-nav__link {
    padding: 3px 6px;
    transition: all 0.2s ease;
    font-size: 0.7rem;
    margin: 5px 0px;
}

.md-nav__item--section > .md-nav__link {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* hover */
.md-nav__link:hover {
    color: #6791e0;
}

/* active item */
.md-nav__link--active {
    background-color: rgba(39, 99, 245, 0.2);
}

.md-nav__link:hover {
    background-color: rgba(39, 99, 245, 0.1);
}

/* ===== NESTED LEVEL ===== */
.md-nav__list .md-nav__list {
    margin-left: 8px;
    padding-left: 8px;
}

/* section title */
.md-nav__title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #999;
    margin-bottom: 6px;
}

.md-nav__link--active {
    position: relative;
}

.md-nav__link--active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 6px;
    bottom: 6px;
    width: 3px;
    background: #6791e0;
}

/* secondary nav */
.md-nav--secondary .md-nav__title {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.7rem;
    color: #999;
}

/* heading spacing */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    margin-top: 50px;
}

/* inline code */
.md-typeset code:not([class]) {
    font-size: 0.7rem;
    color: #6791e0;
}

/* code block spacing */
.md-typeset pre code {
    padding: 1.25em;
    line-height: 1.8;
    margin-bottom: 50px;
}

/* border code block */
.md-typeset pre:not(.highlight) code {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.md-header__inner {
    background-color: #1e2129;
}

.md-tabs__list {
    background-color: #16181e;
}

.md-tabs__item--active > .md-tabs__link {
    font-weight: bold;
}

div.md-header__topic:nth-child(1) > span:nth-child(1) {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 3px;
}

div.md-header__topic:nth-child(2) > span:nth-child(1) {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.md-content__inner img {
    display: block;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #272a35;
    padding: 50px;
    box-sizing: border-box;
}
